<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="list-group-item text-monospace text-muted"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
